<%= link_to "Edit Landing", "/landings/1/edit", class: "btn btn-default" if current_user && current_user.admin? %>
<div class="landing-container">
	<div class='text-center title-text'>125design.com</div>

	<div class='sub-title'>Website design that works
	</div>
	<div class='col-md-12 sub-title-items'>
		<div id="title-item-0" class="sub-title-item">effective</div>
		<div id="title-item-1"class="sub-title-item">simple</div>
		<div id="title-item-2" class="sub-title-item">intelligent</div>
		<div id="last-title-item" class="sub-title-item">designed for you</div>
	</div>

</div>
<div class="about row">
	<div class='text-center arrow-divider'>
		<%= image_tag "chevron-down-512.png", class: 'center-block chev-down' %>
	</div>
	<div class='col-md-3 col-sm-4 details-image' id="about-image"><%= image_tag "about.png", class: 'img-responsive' %></div>
	<div class='col-md-8 col-sm-8 details-desc' id='about-description'>
		<%= simple_format(@landing.description) %>
	</div>

	<div class='col-md-3 col-sm-4 details-image' id="phil-image"><%= image_tag "phil.png", class: 'img-responsive' %></div>
	<div class='col-md-8 col-sm-8 details-desc' id='phil-description'>
		<%= simple_format(@landing.philosophy) %>
	</div>
</div>
<div class="projects row" >
	<h2 class='project-title' id="projects">Projects</h2>
	<% @projects.each do |project| %>
	<div class="project col-sm-6 col-md-4">
		<div class="thumbnail view project-thumbnail">
			<%= link_to project do %>
			<%= image_tag project.image.tile %>
			<div class="caption">
				<%= project.name %>
			</div>		
			<% end %>
			<div class="mask">
				<h2><%= project.name %></h2>
				<p><%= simple_format(truncate(project.description, length: 250)) %></p>
				<%= link_to "Read more...", project, class: "btn btn-default info" %>
			</div>

		</div>

	</div>
	<% end %>
</div>

<div class="tools">
<h2 class='tool-title' id="tools">The tools I use</h2>
<% @tools.each do |tool| %>
	<div class="col-sm-2">
		<div class="thumbnail tool">
			<%= image_tag tool.image.small %>
		</div>
	</div>
	<% end %>
</div>

<%= javascript_include_tag "landings" %>